body {
  --background-main: #313338;

  background: var(--background-main);
  display: flex;
  place-items: center;
  margin: unset;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-container {
  display: flex;
}
